@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,700,900');

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #474747;
    webkit-tap-highlight-color: #222;
    top:0;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #007FFF;
    opacity: 1;
}

a {
    color: #7E342B;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #222;
    outline: 0;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family:'Helvetica Neue',Arial,sans-serif;
}

.text-normal {
    font-family:'Helvetica Neue',Arial,sans-serif;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #007FFF;
}

.bg-alt {
    background-color: #fff;
}

.bg-red {
  background-color: #7D342D;
  color: #fff;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #001A33;
}

.text-light {
    color: #fff;
}

.text-light:hover,.text-light:focus {
    color: #eee;
    text-decoration:none;
}

.text-primary {
    color: #007FFF;
}

section {
    padding: 70px 0;
}

aside {
    padding: 45px 0;
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: #e0e0e3;
}

footer h4, footer h6 {
    color:#fff;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    background-color: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-brand {
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 12px;
    color: #001A33;
    text-transform: uppercase;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #007FFF;
}

.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus {
    color: #007FFF !important;
    background-color: transparent;
}

/* responsive nav */
@media(max-width:48em) {
    .navbar-default .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar-default .navbar-nav {
        float:none !important;
    }
    .navbar-default .navbar-brand img {
        display:inline;
    }
}

@media(min-width:48em) {
    .navbar-default {
        border-color: transparent;
        background-color: #fff;
        min-height: 60px;
    }

    .navbar-brand {
        padding: 12px;
    }


    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #001A33;
        padding-left: 5px;
        padding-top: 21px;
        letter-spacing: 1.1px;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #001A33;
    }

    #topNav {
      background-color:#fff;
    }

}

header {
    position: relative;
    min-height: auto;
    width: 100%;
    background-color: #fff;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    z-index: 2;
}

header .header-content .inner h4 {
    line-height: 1.25em;
    margin:2em 0;
}

header .header-content .inner p {
    margin-bottom: 2em;
    font-size: 16px;
    font-weight: 300;
}

@media(min-width:34em) {
    .quote-left, .quote-right {
      display: none;
    }
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner p, header .header-content .inner h4 {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
    }

    header .header-content .inner p {
      font-size: 1.125em;
    }

    section {
        padding: 70px 0;
    }

}

.list-group-item, .card-footer {
    background-color:transparent;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color:#007FFF;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color:#007FFF;
    color:#007FFF;
}
.btn-primary-outline:hover {
    background-color:#007FFF;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

/* Bootstrap Overrides */

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  color: #7D342D;
}

.logo {
  width: 45px;
  margin-right: 5px;
}

h3, h4 { font-family: 'Roboto Slab', sans-serif; }
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.text-primary { color: #7D342D !important; }

.promo { text-align: center; }
.promo img {
  width: 100px;
  height: 100px;
  margin: 50px auto;
}
.promo .card-title {
  text-align: center;
  color: #633A38;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 200;
}

.promo a {
  color: #7D342D;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

.hero {
  border-bottom: 10px solid #7D342D;
}

.pull-right {
  float: right !important;
}

ul {
  margin: 1.5em 0;
  line-height: 2em;
}

.contact-email {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.left-quote {
  float: left;
  position: absolute;
  top: -40px;
  left: -50px;
}

.right-quote {
  float: right;
  position: absolute;
  bottom: 40px;
  right: 0px;
}

.sponsor-circle {
  border: 1px solid #EEEEEE;
  border-radius: 100em;
  width: 200px;
  height: 200px;
  margin: 40px auto;
}
.sponsor-circle img {
  padding: 40px;
  width: 100%;
  height: 100%;
  margin: auto;
}

